<div>
<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
  <a style="color:white;" class="navbar-brand" routerLink="/home">Home</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="togglenavigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
       <a style="color: white;" class="nav-link-active shadow" aria-current="page" href="javascript:void(0);" routerLink="/add-appointment">Add Appointment</a>
    </li>
    <span class="navbar-toggler-icon"></span>
    <li class="nav-item">
      <a style="color: white;" class="nav-link-active" aria-current="page" href="javascript:void(0);" routerLink="/receptionist">Back Home</a>
   </li>
  </ul>
 </div>
</nav>
<div class="container">
<hr>
  <h2 style="text-align: center; margin-top: 20px;" class="fw-bold">Appointments </h2>
<a style="color: rgb(86, 86, 86); font-size: x-large;">
  <marquee behavior="scroll" direction="left" loop="" mb-2>
     Welcome to Admin Dashboard.Please find the patient List below!!.Click Appointments to view and Update Appointments, Click Add Appointment to add new Appointment 
  </marquee>
</a>
<hr>
<a style="color: rgb(86, 86, 86); font-size: x-large;">Current Patient List in the Queue</a>



<table class="table table-success table-striped table-bordered shadow">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
        <th scope="col">Symtomps</th>
        <th scope="col">Mobile Number</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments">
        
        <td>{{appointment.id}}</td>
        <td>{{appointment.firstName}}</td>
        <td>{{appointment.lastName}}</td>
        <td>{{appointment.age}}</td>
        <td>{{appointment.symtomps}}</td>
        <td>{{appointment.number}}</td>
        <td>
          <button class="btn btn-danger" type="button" (click)="deleteAppointment(appointment.id)">Delete</button>
        </td>
      </tr>
      
    </tbody>
  </table>
   </div>